*{
  margin : 0px;
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  max-width:5px ;
  object-fit:contain;
  background-color:white;
  padding :20px;
  border-bottom :1px solid lightgrey;

}